
#control-cover{
    width: 100%;
    display: grid;
    aspect-ratio: 16/4;
    grid-template-columns: 7fr 20px 3fr;
}
#cover{
    height: 100%;
    background-image: url("/packing_lot_css/cover/cover1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: switchCover infinite 30s;
}
@keyframes switchCover {
    0%{
        background-image: url("/packing_lot_css/cover/cover3.png");
    }
    12.5%{
        background-image: url("/packing_lot_css/cover/cover2.png");
    }
    25%{
        background-image: url("/packing_lot_css/cover/cover1.png");
    }
    37.5%{
        background-image: url("/packing_lot_css/cover/cover4.png");
    }
    50%{
        background-image: url("/packing_lot_css/cover/cover5.png");
    }
    62.5%{
        background-image: url("/packing_lot_css/cover/cover6.png");
    }
    75%{
        background-image: url("/packing_lot_css/cover/cover7.png");
    }
    87.5%{
        background-image: url("/packing_lot_css/cover/cover8.png");
    }
    100%{
        background-image: url("/packing_lot_css/cover/cover3.png");
    }
}
#function-key div{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 170px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 0.7;
    transition-duration: 0.2s;
}
#clock{
    margin-left: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 20%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#infomation{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 20px;
}
#infomation img{
    width: 90%;
}
#promotion{
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 1fr;
}
#promotion img{
    width: 75px;
    margin: 20px;
}
#img-member{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    transition-duration: 0.5s;
    width: 90%;
    margin-left: 5%;
    height: 100%;
}
#contact-box{
    display: grid;
    grid-template-rows: 1fr 4fr 3fr;
}
#contact-box p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
#img-member div{
    height: 100%;
    width: 90%;
    margin-left: 5%;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    transition-duration: 1s;
    color: rgba(0,0,0,0);
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
#img-member div:hover{
    color: rgba(255,255,255,1);
    text-shadow:
            1px 1px 0 black,
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px 1px 0 black;
}
#img-thang{
    background-image: url("/packing_lot_css/img/thang.jpg");
}
#img-long{
    background-image: url("/packing_lot_css/img/long.jpg");
}
#img-thien{
    background-image: url("/packing_lot_css/img/thien.jpg");
}
#img-thang:hover{
    filter: none;
}
#img-long:hover{
    filter: none;
}
#img-thien:hover{
    filter: none;
}
#img-hai:hover{
    filter: none;
}
#table-contact{
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
#table-contact div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    vertical-align: center;
    height: 80%;
    width: 35%;
    margin-left: 60%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    text-align: left;
    transition-duration: 0.2s;
}
#table-contact div:hover{
    scale: 1.05;
    color: white;
    background-color: #787772;
    transition-duration: 0.2s;
}
#map-container{
    padding: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 20px 7fr;
    margin-bottom: 20px;
}
#parking-info{
    padding: 20px;
}
#parking-name{
    width: 60%;
    margin-left: 20%;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#show-detail-img{
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 20px;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    transition-duration: 0.5s;
}
#array-picture{
    width: 100%;
    aspect-ratio: 5/1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: white;
    margin-bottom: 20px;
}
#array-picture div{
    margin: 10px;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
}
#parking-detail{
    width: 90%;
    margin-left: 5%;
    padding: 10px 20px;
    margin-bottom: 20px;
}
#parking-info td{
    vertical-align: center;
}
#plate{
    width: 60%;
    margin-left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 50px;
    color: darkblue;
}
#customer-id{
    width: 90%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 3fr 10px 5fr;
}
#customer-id img{
    height: 100%;
    margin: 0;
    padding: 0;
}
#customer-info{
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    height: 100%;
}
#avata{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#edit-table{
    display: none;
    grid-template-rows: 75px auto 50px 100px;
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    position: fixed;
    width: 60%;
    margin-left: 20%;
    margin-top: 0;
    aspect-ratio: 16/9;
    z-index: 100;
}
#parking-lot-name{
    width: 40%;
    margin-left: 30%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 20px;
}
#array-picture-edit{
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
}
.div-main{
    width: 90%;
    margin-left: 5%;
    aspect-ratio: 16/12;
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    margin-bottom: 20px;
}
.div-branch{
    width: 100%;
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    border-radius: 26px;
}
#add-icon{
    width: 90%;
    margin-left: 5%;
    aspect-ratio: 16/12;
    background-size: cover;
    background-position: center;
    background-image: url('/packing_lot_css/icon/add.png');
}
#button{
    padding-top: 30px;
    display: grid;
    grid-template-columns: auto 170px 170px;
}
#button div{
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
#button-back{
    background-color: red;
}
#button-submit{
    background-color: green;
}
#plate-edit{
    color: green;
    width: 400px;
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
    font-size: 20px;
    height: 50px;
}
