#form-update{
    width: 800px;
    border-radius: 10px;
    background-color: white;
    height: 559px;

}
#hd-form{
    border: 1px solid;
    width: 800px;
    border-radius: 10px;
    background-color: white;
    height: 50px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 20px #51504B
}
b {
    padding-left: 220px;
    padding-top: 50px;
}
#bt{
    margin-left: 324px;
    width: 20%;
    margin-top: 25px;

}
input{
    opacity: 0.8;
    border-radius: 7px;
    box-shadow: #333333;
}
.image-preview-container2{
    box-shadow: 10px 10px 20px #51504B;
}
table{
    box-shadow: 10px 10px 20px #51504B
}

