<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking Lot Manager</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="packing_lot_css/parkinglot.css">

</head>
<body class="color2">
<div id="header" class="filler color1 boxshadow-outset"></div>
<div></div>
<div id="map-control" class="filler boxshadow-outset color1">
    <div id="button-level"></div>
    <svg id="parkinglot"></svg>
</div>




</body>
<script src="packing_lot_css/parkinglot.js"></script>
<script src="packing_lot_css/switch_img.js"></script>
</html>