<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parking Lot Manager</title>
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="packing_lot_css/parkinglot.css">

</head>
<body class="color2">
<div id="header" class="border filler color1 boxshadow-outset">
    <div class="border hover filler color2 boxshadow-outset">Signup</div>
    <div class="border hover filler color2 boxshadow-outset">Login</div>
</div>
<div id="slogan" class="border filler color1 boxshadow-outset">
    <div>
        <img src="/packing_lot_css/img/carSlogan.png"/>
        <p>chỉ <span class="target-text">5000</span> gửi xe, có người care sáng tối !!!</p>
    </div>
</div>
<div id="control-cover">
    <div id="cover" class="border filler color1 boxshadow-outset">
        <div id="function-key"></div>
    </div>
    <div></div>
    <div id="map-control" class="border filler boxshadow-outset color1">
        <div id="button-level"></div>
        <svg id="parkinglot"></svg>
    </div>
</div>
<div id="option" class="color2 boxshadow-outset"></div>
<div id="clock" class="border filler color1 boxshadow-outset">00:00:00</div>
<div id="infomation" class="border filler color1 boxshadow-outset">
    <img class="boxshadow-outset filler border" src="/packing_lot_css/img/police.png"/>
    <div id="promotion">
        <img src="/packing_lot_css/icon/security.png"/>
        <p>Với kinh nghiệm <span class="target-text">TRÔNG GIỮ XE</span>
            hơn 30 năm. Đội ngũ giám sát hơn <span class="target-text">3000 NGƯỜI và CHÓ</span>
            Chúng tôi tự tin mang lại cho bạn giấc ngủ bình thản, sáng dậy với chiếc xe vẫn vẹn nguyên</p>
        <img src="/packing_lot_css/icon/camera.png"/>
        <p>Tự hào với dàn <span class="target-text">CAMERA CHẠY BẰNG CƠM</span> hoạt động
            <span class="target-text">24/7</span>. Chúng tôi cam kết xe của bạn sẽ được cách ly
            như <span class="target-text">F0 COVID</span></p>
        <img src="/packing_lot_css/icon/fire.png"/>
        <p>Bãi đỗ xe được trang bị hệ thông <span class="target-text">PHÒNG CHÁY CHỮA CHÁY</span> hiện đại
            . Cam kết <span class="target-text">CHÁY 1 XE ĐỀN 1 CĂN HỘ</span></p>
    </div>
</div>
</body>
<script src="packing_lot_css/parkinglot.js"></script>
<script src="packing_lot_css/button.js"></script>
<script src="packing_lot_css/clock.js"></script>
</html>