<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Hire Request</title>
    <link rel="stylesheet" href="/common.css">
</head>
<body class="color2">
<div th:replace="parkinglot :: header"></div>



<div id="map-container" class="filler color1 boxshadow-inset">
    <div id="parking-info" class="boxshadow-inset filler color2"></div>
    <div></div>
    <div id="map-control" class="border filler boxshadow-inset color1">
        <div id="button-level"></div>
        <svg id="parkinglot"></svg>
    </div>
    <div id="option" class="color2 boxshadow-outset"></div>
</div>



<input type="hidden" id="arrayAvailableB1" th:value="${arrayAvailableB1}">
<input type="hidden" id="arrayAvailableB2" th:value="${arrayAvailableB2}">
</body>
<script src="packing_lot_css/parkinglot.js"></script>
</html>