@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&family=Roboto:wght@500&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: #51504B;
    box-sizing: border-box;
}
.color1{
    background-color: white;
}
.color2{
    background-color: #EAE9E5;
}
.color3{
    background-color: #BCBBB6;
}
.color4{
    background-color: #787772;
    color: white;
}
.color5{
    background-color: #51504B;
    color: white;
}
.filler{
    border-radius: 30px;
}
.boxshadow-inset{
    box-shadow: inset 10px 10px 20px #51504B;
}
.boxshadow-outset{
    box-shadow: 10px 10px 20px #51504B;
}
.hover{
    transition-duration: 0.2s;
}
.hover:hover{
    scale: 1.05;
    background-color: #51504B;
    color: white;
    transition-duration: 0.2s;
}
.hover-border{
    border: white 4px solid;
    transition-duration: 0.2s;
}
.hover-border:hover{
    scale: 0.95;
    transition-duration: 0.2s;
    animation: choose 1s infinite;
}
@keyframes choose {
    0% {
        border: #787772 4px solid;
    }
    50% {
        border: #EAE9E5 4px solid;
    }
    100% {
        border: #787772 4px solid;
    }
}
::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.border{
    border: #BCBBB6 1px inset;
}
#header{
    height: 100px;
    margin-bottom: 20px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 300px 1fr 150px 150px;
}
#logo{
    margin-left: 20px;
    background-image: url("/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#header div{
    display: inline-flex;
    float: right;
    width: 90%;
    height: 50px;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
#map-control{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition-duration: 1s;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
polygon{
    opacity: 0.4;
    transition-duration: 0.2s;
}
polygon:hover{
    fill: rgba(255,0,255,0.5);
    transition-duration: 0.2s;
}
svg{
    width: 100%;
    height: 100%;
}
#button-level{
    position: absolute;
    display: inline-block;
    bottom: 10px;
    right: 10px;
}
#button-level div{
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    opacity: 0.8;
}
#option{
    position: absolute;
    display: none;
    border-radius: 20px;
    text-align: center;
    width: 150px;
    opacity: 0.7;
    padding: 15px 0px;
}
#option div:hover{
    background-color: #51504B;
    color: white;
    transition-duration: 0.2s;
}
#option p{
    scale: 1.1;
    font-weight: bold;
}
#slogan{
    margin-left: 20%;
    margin-bottom: 20px;
    width: 60%;
    height: 50px;
    overflow: hidden;
}

#slogan div{
    animation: footerRuning 10s steps(10000) infinite;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

@keyframes footerRuning {
    0% {
        transform: translateX(80%);
    }
    100% {
        transform: translateX(-80%);
    }
}
#slogan img{
    display: inline-block;
    height: 60px;
    margin-bottom: 10px;
}
#slogan p{
    margin-top: 12.5px;
    display: inline-block;
    font-size: 25px;
}
.target-text{
    color: red;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}
.not-available{
    color: red;
}
.blockParking{
    fill: black;
    background-color: rgba(128,128,128,0.9);
}
.availableParking{
    fill: green;
    background-color: rgba(0,128,0,0.9);
}
.myParking{
    fill: orange;
    background-color: rgba(255,165,0,0.9);
}
.otherParking{
    fill: blue;
    background-color: rgba(0,0,255,0.9);
}
.awaitParking{
    fill: purple;
    background-color: rgba(128,0,128,0.9);
}
#alert-parking{
    text-align: center;
    font-size: 25px;
    color: red;
}
#note{
    margin-right: 20px;
}
#note div{
    display: flex;
    padding-left: 20px;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    width: 180px;
    color: white;
    box-shadow: inset 10px 10px 20px rgba(0,0,0,0.5);
}
#alert-content{
    background-color: rgba(255,255,255,0.8);
    display: none;
    position: fixed;
    width: 20%;
    aspect-ratio: 2/1;
    margin-left: 40%;
    margin-top: 5%;
    z-index: 10;
    padding: 10px;
    text-align: center;
    grid-template-rows: 1fr 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content content" "cancel confirm";
}
#content-alert{
    grid-area: content;
}
#cancel-button{
    background-color: rgba(255,0,0,0.8);
    grid-area: cancel;
}
#confirm-button{
    background-color: rgba(0,200,0,0.8);
    grid-area: confirm;
}
#alert-content div{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hidden-button{
    display: none;
}
text{
    alignment-baseline: middle;
    text-anchor: middle;
    text-shadow:
            1px 1px 0 white,
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white;
}