<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/png" sizes="16x16" href="/images_admin/favicon.png">
    <!-- Pignose Calender -->
    <link href="/plugins_admin/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="/plugins_admin/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="/plugins_admin/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="/css_admin/style.css" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Customer List</h4>
                            <div class="row">
                                <div class="col-sm-10">
                                    <form action="/employee">
                                        <div class="input-group mb-3" style="width: 30%">
                                            <input type="text" class="form-control" placeholder="search"
                                                   aria-label="" name="searchName" th:value="${searchName}">
                                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search
                                            </button>
                                        </div>
                                    </form>
                                </div>
<!--                                <div class="col-sm-2">-->
<!--                                    <a role="button" class="btn btn-primary" href="/admins/employee/createAccount">Create new employee</a>-->
<!--                                </div>-->
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>
                                            Name
                                            <span style="float: right;">
                                                <a th:href="@{/admins/employee/(sortProperty='employee_name', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/employee/(sortProperty='employee_name', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            PhoneNumber
                                            <span style="float: right;">
                                                <a th:href="@{/admins/employee/(sortProperty='id_card', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/employee/(sortProperty='id_card', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
<!--                                        <th>-->
<!--                                            Gender-->
<!--                                            <span style="float: right;">-->
<!--                                                <a th:href="@{/admins/employee/(sortProperty='gender', condition='asc', searchName=${searchName})}">-->
<!--                                                    <i class="fa fa-arrow-up"></i>-->
<!--                                                </a>-->
<!--                                                <a th:href="@{/admins/employee/(sortProperty='gender', condition='desc', searchName=${searchName})}">-->
<!--                                                    <i class="fa fa-arrow-down"></i>-->
<!--                                                </a>-->
<!--                                            </span>-->
<!--                                        </th>-->
                                        <th>
                                           Room rented
                                            <span style="float: right;">
                                                <a th:href="@{/admins/employee/(sortProperty='birthdate', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/employee/(sortProperty='birthdate', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                           License_plates
                                            <span style="float: right;">
                                                <a th:href="@{/admins/employee/(sortProperty='salary', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/employee/(sortProperty='salary', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                           Time remaining
                                            <span style="float: right;">
                                                <a th:href="@{/admins/employee/(sortProperty='acc.email', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/employee/(sortProperty='acc.email', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th>
                                            Status
                                            <span style="float: right;">
                                                <a th:href="@{/admins/employee/(sortProperty='acc.status', condition='asc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-up"></i>
                                                </a>
                                                <a th:href="@{/admins/employee/(sortProperty='acc.status', condition='desc', searchName=${searchName})}">
                                                    <i class="fa fa-arrow-down"></i>
                                                </a>
                                            </span>
                                        </th>
                                        <th scope="col">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <th:block th:each="customer,status:${customers}">
                                        <tr>
                                            <td th:text="${status.count}"></td>
                                            <td th:text="${customer.name}"></td>
                                            <td th:text="${customer.phoneNumber}"></td>
                                            <td th:text="${customer.roomRented}"></td>
<!--                                            <td th:text="${#numbers.formatDecimal(employee.salary, 0, 'COMMA', 0, 'POINT')} + ' $'"></td>-->

                                            <td th:text="${customer.licensePlates}"></td>
                                            <td th:text="${customer.timeRemaining}"></td>
                                            <td th:text="${customer.status}"></td>
<!--                                            <td th:text="${customer.status == true ? 'Available' : 'Not available'}"-->
<!--                                                th:class="${customer.status == true ? 'label gradient-4 rounded'-->
<!--                                                : 'label gradient-5 rounded'}"></td>-->
<!--                                            <td>-->
<!--                                                <span style="display: flex">-->
<!--                                                    <a style="margin: 3%;" th:href="@{/admins/employee/edit/__${employee.id}__/__${employee.getEmail()}__}"-->
<!--                                                       data-toggle="tooltip" data-placement="top"-->
<!--                                                       title="Edit" class="label gradient-1 rounded">-->
<!--                                                        <i class="fa fa-pencil"></i>-->
<!--                                                    </a>-->
<!--                                                    <a th:if="${employee.status == true}" style="margin: 3%;" data-bs-toggle="modal"-->
<!--                                                       data-bs-target="#exampleModal"-->
<!--                                                       th:attr="onclick=|showModal(${employee.id},'${employee.employeeName}')|"-->
<!--                                                       class="label gradient-3 rounded">-->
<!--                                                        <i class="fa fa-close color-danger" title="Delete"></i>-->
<!--                                                    </a>-->
<!--                                                    <a th:if="${employee.status == false}" style="margin: 3%;" data-bs-toggle="modal"-->
<!--                                                       data-bs-target="#exampleModal"-->
<!--                                                       th:attr="onclick=|showRecover(${employee.id},'${employee.employeeName}')|"-->
<!--                                                       class="label gradient-7 rounded">-->
<!--                                                        <i class="fa fa-arrow-up" title="Recover"></i>-->
<!--                                                    </a>-->
<!--                                                </span>-->
<!--                                            </td>-->
                                        </tr>
                                    </th:block>
                                    </tbody>
                                </table>
<!--                                <nav aria-label="Page navigation example" style="display: flex;justify-content: center">-->
<!--                                    <ul class="pagination">-->
<!--                                        <th:block th:if="${employeeDtos.number == 0}">-->
<!--                                            <li class="page-item disabled">-->
<!--                                                <a class="page-link"-->
<!--                                                   th:href="@{/admins/employee(page=${employeeDtos.number - 1}, searchName=${searchName})}"-->
<!--                                                   th:disabled="${employeeDtos.number == 0}">Previous</a>-->
<!--                                            </li>-->
<!--                                        </th:block>-->
<!--                                        <th:block th:unless="${employeeDtos.number == 0}">-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link"-->
<!--                                                   th:href="@{/admins/employee(page=${employeeDtos.number - 1}, searchName=${searchName})}">Previous</a>-->
<!--                                            </li>-->
<!--                                        </th:block>-->
<!--                                        <th:block-->
<!--                                                th:each="index : ${#numbers.sequence(0, employeeDtos.totalPages - 1)}">-->
<!--                                            <th:block th:if="${index.equals(employeeDtos.number)}">-->
<!--                                                <li class="page-item active">-->
<!--                                                    <a class="page-link"-->
<!--                                                       th:href="@{/admins/employee(page=${index}, searchName=${searchName})}"-->
<!--                                                       th:text="${index + 1}"></a>-->
<!--                                                </li>-->
<!--                                            </th:block>-->
<!--                                            <th:block th:unless="${index.equals(employeeDtos.number)}">-->
<!--                                                <li class="page-item">-->
<!--                                                    <a class="page-link"-->
<!--                                                       th:href="@{/admins/employee(page=${index}, searchName=${searchName})}"-->
<!--                                                       th:text="${index + 1}"></a>-->
<!--                                                </li>-->
<!--                                            </th:block>-->
<!--                                        </th:block>-->

<!--                                        <th:block th:if="${employeeDtos.hasNext()}">-->
<!--                                            <li class="page-item">-->
<!--                                                <a class="page-link"-->
<!--                                                   th:href="@{/admins/employee(page=${employeeDtos.number + 1}, searchName=${searchName})}">Next</a>-->
<!--                                            </li>-->
<!--                                        </th:block>-->
<!--                                        <th:block th:unless="${employeeDtos.hasNext()}">-->
<!--                                            <li class="page-item disabled">-->
<!--                                                <a class="page-link"-->
<!--                                                   th:href="@{/admins/employee(page=${employeeDtos.number + 1}, searchName=${searchName})}">Next</a>-->
<!--                                            </li>-->
<!--                                        </th:block>-->
<!--                                    </ul>-->
<!--                                </nav>-->
                            </div>
                            <form action="/admins/employee/delete" method="post" id="deleteForm">
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Notification</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <input type="hidden" name="code" id="code">
                                            <div class="modal-body">
                                                Do you want to delete <b><span id="name"></span></b>?
                                                <br>
                                                <label style="color: red">(Note: this action will not be undone)</label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button id="deleteButton" type="submit" class="btn btn-danger">Accept
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form action="/admins/employee/recover" method="post" id="recoverForm">
                                <div class="modal fade" id="recoverModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="recoverModalLabel">Notification</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <input type="hidden" name="code1" id="code1">
                                            <div class="modal-body">
                                                Do you want to recover <b><span id="name1"></span></b>?
                                                <br>
                                                <label style="color: red">(Note: this action will not be undone)</label>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button id="recoverButton" type="submit" class="btn btn-danger">Accept
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
</div>






























<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>