<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>List of approved</title>

    <!-- Custom fonts for this template -->
    <link href="/page_admin_css/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/page_admin_css/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="/page_admin_css/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!--    ajax-->
    <script src="/customer_css/code.jquery.com_jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <style>
        body {
            background-color: #EAE9E5;

        }
        .table {
            color: black;
            border: 1px;
            border-radius: 10px;

        }
        #bd{
            border: 1px solid;
            margin-left: 641px;
            width: 30%;
            margin-top: 30px;
            text-align: center;
            color: black;
            border-radius: 10px;
            background-color: white;
            box-shadow: 10px 10px 20px #51504B
        }
        .card-body {
            box-shadow: 10px 10px 20px #51504B;
        }
        .btn {
            margin-bottom: 10px;
            box-shadow: 10px 10px 20px #51504B
        }
    </style>
</head>

<body id="page-top">
<div class="container-fluid">
    <h1 id="bd" class="h3 mb-2 text-gray-800">LIST TO APPROVED</h1>
    <a class="btn btn-light" th:href="@{/admin}" role="button">Back to menu</a>
    <input type="hidden" id="statusPage" th:value="${statusPage}">
    <div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>N0.</th>
                    <th>Name</th>
                    <th>End Date</th>
                    <th>Money pay</th>
                    <th>Time pay</th>
                    <th>Position</th>
                    <th>Status</th>
                    <th>License plate</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="bill,status: ${billList}">
                    <td th:text="${status.count}"></td>
                    <td th:text="${bill.customer.name}"></td>
                    <td th:text="${bill.endDate}"></td>
                    <td th:text="${bill.moneyPay}"></td>
                    <td th:text="${bill.timePay}"></td>
                    <td th:text="${bill.parkingLot.name}"></td>
                    <td th:text="${bill.status}"></td>
                    <td th:text="${bill.car.licensePlate}"></td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                                th:attr="onclick =|sendData(${bill.id},${bill.parkingLot.id})|"
                                data-target="#exampleModal">
                            Approve
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/admin/approve}" method="post">
                <div class="modal-body">
                    <input type="hidden" id="billId" name="billId">
                    <input type="hidden" id="parkingId" name="parkingId">
                    <span style="color: red">Bạn có muốn duyệt bill không</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Approve</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    function sendData(billId, parkingLotId) {
        document.getElementById('billId').value = billId
        document.getElementById('parkingId').value = parkingLotId

    }
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    window.onload = function () {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success'
            },
            buttonsStyling: false
        })
        if (document.getElementById("statusPage").value === "1") {
            swalWithBootstrapButtons.fire(
                'Approved successfully!',
                '',
                'success'
            )
        } else if (document.getElementById("statusPage").value === "2") {
            swalWithBootstrapButtons.fire(
                'Updated successfully!',
                '',
                'success'
            )
        } else if (document.getElementById("statusPage").value === "3") {
            swalWithBootstrapButtons.fire(
                'Deleted  successfully!',
                '',
                'success'
            )
        }
    }
    function deleteCommodity(id, name) {
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success m-3',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })
        swalWithBootstrapButtons.fire({
            title: `Are you sure you want to delete Commodity: ${name}?`,
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = `/commodity/delete?id=${id}`;
            }
        })
    }
</script>

<!-- Bootstrap core JavaScript-->
<script src="/page_admin_css/vendor/jquery/jquery.min.js"></script>
<script src="/page_admin_css/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/page_admin_css/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/page_admin_css/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/page_admin_css/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/page_admin_css/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/page_admin_css/js/demo/datatables-demo.js"></script>

</body>
</html>